*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "微软雅黑";
}
ul{
	list-style: none;
}
.container{
	position: relative;
}
.personal{
	position: absolute;
	top: -50px;
	left: 100%;
	width: 100%;
	background: #f5f5f5;
	display: none;
}
header,footer{
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 50px;
	text-align: center;
	background: #fff;
}
header{
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 10px;
	line-height: 50px;
	box-shadow: 0 2px 8px #ccc;
}
header>ul{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	line-height: 38px;
	font-weight: bold;
}
header>ul>li>div{
	line-height: 0;
	font-size: 12px;
	font-weight: 100;
}
header>i{
	text-align: right;
}
footer{
	bottom: 0;
	border-top: 1px solid #aaa;
}
footer ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
footer ul li{
	float: left;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding-top: 3px;
}
footer ul li div{
	line-height: 11px;
	font-size: 14px;
}
section{
	position: absolute;
	top: 50px;
	padding-bottom: 60px;
	width: 100%;
}
section>ul>li{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*首页*/
.home>li:nth-child(1){
	/*width: 400%;*/
}
nav{
	z-index: 10;
	position: absolute;
	width: 100%;
}
nav>div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 15px auto 0;
	padding: 5px 10px;
	width: 95%;
	height: 40px;
	background: #dadfe4;
	border-radius: 5px;
	box-shadow: 0 0 5px #dadfee;
	overflow: hidden;
}
date{
	display: inline-block;
	font-size: 14px;
	line-height: 16px;
}
nav>div>p{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	position: relative;
	margin-left: 10px;
	overflow: hidden;
}
nav>div>p>span{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	position: absolute;
	top: 6px;
	left: 70vw;
	font-size: 14px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.home>li:nth-child(1)>img{
	float: left;
	width: 100%;
	height: 100%;
}
.line{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	height: 3px;
}
.current{
	background: #5aac6b;
}
.home>li:nth-child(3){
	padding: 6px 10px;
}
.home>li:nth-child(3)>details{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	padding: 24px;
	border: 2px solid #ececec;
	border-radius: 4px;
}
.home>li:nth-child(3)>details>p{
	font-size: 14px;
	color: #333;
}
.home>li:nth-child(4)>ul{
	padding: 10px 0;
	width: 100%;
	background: #eee;
}
.home>li:nth-child(4)>ul>li{
	padding: 10px 15px;
	font-size: 14px;
	color: #333;
	background: #fff;
}
.home>li:nth-child(4)>ul>li>img{
	width: 30px;
}
.more{
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 10px 0;
	font-size: 14px;
	color: #999;
}

/*社区*/
.community>li:nth-child(1)>ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 78px;
}
.community>li:nth-child(1)>ul>li{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	line-height: 55px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background-size: 100% 100%;
	background-color: rgba(0,0,0,0.5);
	background-blend-mode: multiply;
}
.community>li:nth-child(1)>ul>li>div{
	line-height: 0px;
	font-size: 12px;
	color: #aaa;
}
.community>li:nth-child(1)>ul>li:nth-child(1){
	background-image: url(../img/1.jpg);
}
.community>li:nth-child(1)>ul>li:nth-child(2){
	background-image: url(../img/10.jpg);
}
.community>li:nth-child(1)>ul>li:nth-child(3){
	background-image: url(../img/2.jpg);
}
.ul00{
	padding: 10px 5px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	background: #eee;
}
.ul00>li{
	margin-bottom: 10px;
	padding: 14px 12px;
	font-family: "楷体";
	color: #888;
	background: #fff;
	border-radius: 10px;
}
.ul00>li>div{
	padding: 14px 5px 0 5px;
}
.ul00>li>div>img{
	width: 20px;
	border-radius: 50%;
}
.ul00>li>div>i{
	float: right;
	font-size: 18px;
}
.ul00>li>img{
	margin-bottom: 5px;
	width: 100%;
}
.like{
	cursor: pointer;
}

/*我的*/
.my>li{
	display: none;
}
.my>li:nth-child(1){
	padding: 5vh 5vw 5vh 20vw;
}
.exit{
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
	color: #ccc;
	text-decoration: underline;
	cursor: pointer;
}
.goPersonal{
	margin: 6px 0;
	padding: 0 5px 0 18px;
	line-height: 33px;
	font-size: 12px;
	color: white;
	background: #dfdfdf;
	border-radius: 45px 0 0 45px;
	cursor: pointer;
}
.my>li:nth-child(3) ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 14px;
	width: 100%;
	text-align: center;
}
.my>li:nth-child(3) ul li{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	font-size: 12px;
}
.my>li:nth-child(3) ul li i.iconfont{
	font-size: 20px;
}
.my>li:nth-child(3) ul li div{
	margin-top: 8px;
}
.my>li:nth-child(4){
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 2.5vh 0;
	background: #f5f5f5;
}
.my>li:nth-child(4) div{
	padding: 10px 30px;
	font-size: 14px;
	color: #66bb77;
	background: #fff;
	border-radius: 40px;
}
.assay{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 25px 10px;
	background: #ececec;
}
.assay>ul{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-bottom: 20px;
}
.assay>ul>li:nth-child(1)>img{
	width: 30px;
	border-radius: 50%;
}
.assay>ul>li:nth-child(1)>a{
	float: right;
	font-size: 12px;
	color: #bbb;
}
.assay>ul>li:nth-child(2){
	padding: 2vh 6vw;
	font-size: 14px;
	color: #bababa;
}
.assay>ul>li:nth-child(2)>img{
	margin-top: 5px;
	width: 100%;
	border-radius: 20px 0 20px 0;
}
.my>div{
	padding: 38vh 30%;
	width: 100%;
	background-image: url(../img/pianke-bg.png);
}
.my>div>a{
	display: inline-block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background: #66bb77;
	border: none;
	border-radius: 45px;
}

/*侧滑-个人中心*/
.personal>li:nth-child(1){
	position: fixed;
	padding: 10px 20px;
	width: 100%;
	color: #fdfdfd;
	height: 50px;
	background-color: rgba(0,0,0,0.3);
}
.goMy{
	padding-top: 8px;
	border-top: 1px solid rgba(220,220,220,0.5);
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	cursor: pointer;
}
.personal>li:nth-child(1)>span{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin: 6px 0 0 14px;
	font-size: 14px;
}
.personal>li:nth-child(2){
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	height: 300px;
	line-height: 300px;
	color: #fff;
	text-align: center;
	background-image: url(../img/9.jpg);
	background-size: 100% 100%;
}
.personal>li:nth-child(2)>span{
	margin-top: -195px;
	font-size: 12px;
	color: #eee;
}
.personal>li:nth-child(3){
	padding: 20px;
	font-size: 12px;
	background: #fff;
}
.personal>li:nth-child(4){
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 2.5vh 0;
	background: #ccc;
}
.personal>li:nth-child(4)>div{
	padding: 10px 30px;
	font-size: 14px;
	color: #eee;
	background: #5aac6b;
	border-radius: 40px;
}
.personal>li:nth-child(5)>ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 15px 0;
	padding: 15px 0;
	width: 100%;
	text-align: center;
	background: #fff;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}
.personal>li:nth-child(5)>ul>li{
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	font-size: 12px;
}

.clearfix:after{
	display: table;
	height: 0;
	content: "";
	clear: both;
	visibility: hidden;
}
.clearfix{
	zoom: 1;
}
